@import './mixins';

.general-form {
  @include form-basics;

  .form-input {
    @include form-input;
  }
}

.general-preview {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  background-color:#16a34a;
  padding: 1.2rem 0 1.2rem 0;
  
  .name {
    padding-left: 2rem;
    align-self: flex-start;
    font-size: 1.5rem;
  }

  .general-container {
    width: 90%;
    align-self: center;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
  }
}