* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  
  padding-top: 4rem;
  padding-bottom: 4rem;
  justify-content: center;
  background-color: #cdb5e1;
  gap: 3rem;

  @media (max-width: 1600px) {
    flex-direction: column;
    min-height: auto;
    align-items: center;
  }
}

.app-container {
  width: 210mm;
  height: 297mm;

  background-color: #f8fafc;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cv-form-container {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}